@media only screen and (max-width: 900px){
    /**** TABLETS ****/
    form { 
        width: 90%;
      }

    .input .grid-three{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 30px;
        padding-top: 2%;
    }

    .input .grid-radios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        margin-bottom: 15px;
      }

      .input .grid-radios .radio-group-two {
        justify-content:start;
      }
      
}

@media only screen and (max-width: 600px) {
    /***** DISPOSITIVOS MOVILES ***/

    form { 
        width: 90%;
      }

      .input .grid-three{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 30px;
        padding-bottom: 8%;
        padding-top: 2%;
    }

    .input .grid-radios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        margin-bottom: 15px;
      }

      .input .grid-radios .radio-group-two {
        justify-content:start;
      }

}